<div class="jumbotron mt-n5">
  <h1 class="display-3 text-center">Inicio</h1>
  <p class="lead text-center">Proyecto de angular Rubén</p>
  <hr>
  <p class="lead text-center">
    Enlace  <a style="border-radius: 10px;" class="btn btn-primary" routerLink="/about" role="button">About</a>
  </p>
</div>
<div class="row justify-content-center pb-5 mt-n5">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header" style="text-align: center;">Pruebas</div>
      <div class="card-body">
        <div class="input-group">
          <input class="form-control" style="border-radius: 10px;" type="text" [(ngModel)]="variable">
          <h3>{{variable}}</h3>
        </div>
        <hr>
        <div class="input-group">
          <input class="form-control" placeholder="Introduce un número" type="number" [(ngModel)]="num1" style="border-radius: 10px;">
          <h3 *ngIf="num1==0">El número 1 es un 0</h3>
          <h3 *ngIf="num1!=0">El número 1 no es un 0</h3>
        </div>
        <hr>
        <h4 *ngIf="usuarioSel">El usuario seleccionado es {{usuarioSel.nombre +" "+ usuarioSel.apellido}}</h4>
        <h4 *ngIf="!usuarioSel" style="text-align: center;">Selecciona un usuario</h4>
        
        <ul class="list-group">
            <li class="list-group-item" (click)="selUser(usuario)" *ngFor="let usuario of usuarios"> 
              {{usuario.nombre + " " + usuario.apellido}} 
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>