<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header" style="text-align: center;">Presentate a la pagina</div>
      <div class="card-body">
        <div class="">
          <input style="border-radius: 15px;" class="form-control" type="text" [(ngModel)]=nombre placeholder="Tu nombre">
          <input style="border-radius: 15px;" class="form-control" type="text" [(ngModel)]=apellidos placeholder="Tus apellidos"><br>
        </div>
        <button style="border-radius: 15px;" class="btn btn-primary btn-block" (click)="llevame()">Presentarme</button>
      </div>
    </div>

  </div>
</div>

